[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/evanmeek/Desktop/emacs备份.gif]
row=0
col=16

[/home/evanmeek/Desktop/.directory]
row=1
col=7

[/home/evanmeek/Desktop/fuck2.png]
row=1
col=3

[/home/evanmeek/Desktop/2020-03-18-200410_waifu2x_photo_noise3_scale_tta_1.png]
row=0
col=7

[/home/evanmeek/Desktop/3.20-2.png]
row=0
col=9

[/home/evanmeek/Desktop/emacsFindFile.gif]
row=1
col=0

[/home/evanmeek/Desktop/emacs.gif]
row=1
col=1

[/home/evanmeek/Desktop/flycheck-bug.png]
row=1
col=2

[/home/evanmeek/Desktop/ttt.png]
row=1
col=6

[/home/evanmeek/Desktop/3.20-3完成.png]
row=0
col=10

[/home/evanmeek/Desktop/3.20-1.png]
row=0
col=8

[/home/evanmeek/Desktop/chrome-kfkdmclihjambbinpnmpodjeoojmpkmp-Default.desktop]
row=0
col=17

[/home/evanmeek/Desktop/封面.png]
row=0
col=12

[/home/evanmeek/Desktop/青马工程第七期培训班学员招募通知1.docx]
row=0
col=13

[/home/evanmeek/Desktop/definekey2.png]
row=0
col=14

[/home/evanmeek/Desktop/fun.png]
row=1
col=4

[/home/evanmeek/Desktop/LP&amp;amp;RP.pdf]
row=1
col=5

[/home/evanmeek/Desktop/definekey.png]
row=0
col=15

[/home/evanmeek/Desktop/AutoCAD作业]
row=0
col=5

[/home/evanmeek/Desktop/1902090021+黎秋敏+国际经济与贸易+周二56节[2].doc]
row=0
col=6

[/home/evanmeek/Desktop/3.20-3.png]
row=0
col=11

[9804E86704E84A38]
row=0
col=3

[94EA6592EA657182]
row=0
col=4

[回收站]
row=0
col=0

[/]
row=0
col=1

[/home/evanmeek]
row=0
col=2

