[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/evanmeek/Desktop/emacs备份.gif]
row=6
col=0

[/home/evanmeek/Desktop/fuck2.png]
row=2
col=2

[/home/evanmeek/Desktop/2020-03-18-200410_waifu2x_photo_noise3_scale_tta_1.png]
row=5
col=1

[/home/evanmeek/Desktop/3.20-2.png]
row=7
col=1

[/home/evanmeek/Desktop/emacsFindFile.gif]
row=7
col=0

[/home/evanmeek/Desktop/emacs.gif]
row=2
col=1

[/home/evanmeek/Desktop/flycheck-bug.png]
row=3
col=2

[/home/evanmeek/Desktop/ttt.png]
row=8
col=0

[/home/evanmeek/Desktop/3.20-3完成.png]
row=0
col=2

[/home/evanmeek/Desktop/3.20-1.png]
row=1
col=2

[/home/evanmeek/Desktop/chrome-kfkdmclihjambbinpnmpodjeoojmpkmp-Default.desktop]
row=6
col=1

[/home/evanmeek/Desktop/封面.png]
row=5
col=2

[/home/evanmeek/Desktop/青马工程第七期培训班学员招募通知1.docx]
row=3
col=1

[/home/evanmeek/Desktop/definekey2.png]
row=4
col=2

[/home/evanmeek/Desktop/fun.png]
row=0
col=1

[/home/evanmeek/Desktop/LP&amp;amp;RP.pdf]
row=4
col=1

[/home/evanmeek/Desktop/definekey.png]
row=5
col=0

[/home/evanmeek/Desktop/AutoCAD作业]
row=6
col=2

[/home/evanmeek/Desktop/1902090021+黎秋敏+国际经济与贸易+周二56节[2].doc]
row=1
col=1

[/home/evanmeek/Desktop/3.20-3.png]
row=8
col=1

[9804E86704E84A38]
row=1
col=0

[94EA6592EA657182]
row=0
col=0

[回收站]
row=2
col=0

[/]
row=3
col=0

[/home/evanmeek]
row=4
col=0

